.question {
    &__title {
        margin-bottom: 15px;
    }
}

.textQuestion__text,
.imageQuestion__image {
    margin-bottom: 5px;
}
.imageQuestion__image{
    width: 20%;
    height: 20%;
}

.imageQuestion__image img{
    width: 100%;
    height: 1000%;
}
