@import url('/src/styles/global.less');

.theory {
    >:not(:last-child) {
        margin-bottom: 30px;
    }
}

.theoryTitle {
    margin-bottom: 20px;
}

.theoryBlockTitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.theoryTable {
    border-collapse: collapse;

}

.theoryTableCoulumn {
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding: 5px;
    height: 40px
}

.theoryList li:not(:last-child) {
    margin-bottom: 5px;
}

.theoryImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px
}

.theoryImage img {
    max-width: 1000%;
    max-height: 100%;
}

.theoryButton {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    button {
        border-radius: 11%/50% !important;
    }
}



.theoryTableDark td,
.theoryTableDark tr {
    border: 1px solid @lightBackground;
}

.theoryTableLight td,
.theoryTableLight tr {
    border: 1px solid @darkBackground;
}