@lightBackground: #e5ebf1;
@lightTextColor: #222331;
@darkBackground: #222331;
@darkTextColor: #e5ebf1;

@darkAsideBackground: #1a1b29;

@buttonDarkTheme: #00BCD4;
@buttonLightTheme: #8BC34A;

@mainLinkColor: #4A90E2;    