@import url('/src/styles/variables.less');

.lessonsFlex {
    width: calc(100% + 5px);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.lessonsActive {
    font-weight: bold;
}

.lessonsDark {
    background-color: @buttonDarkTheme;
}

.lessonsLight {
    background-color: @buttonLightTheme;
}

.lessonsText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    font-size: 16px;
    cursor: pointer;
}

.lessonsText b {
    font-size: 18px;
}

.lessonsDropdownList {
    position: relative;
    top: 10px;
    right: 15px;
    width: 0;
    height: 0;
    border-top: 9px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    cursor: pointer;
}

.lessonsModuleDropdownListOpen {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.lesson {
    font-size: 16px;
}

.lessonContent {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.lesson:not(:last-child) {
    border-bottom: 1px black solid;
}