@import '../../styles/variables.less';

header {
    position: fixed;
    z-index: 100;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.headerContainer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.headerLogo {
    margin-right: 20px;
    width: 50px;
    height: 50px;
}

.headerMiniProfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-right: auto;

    img {
        width: 30px;
        height: 30px;
    }
}

.headerUserInformation {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerUserIcon {
    display: flex;
    margin-right: 10px; 
    width: 50px;
    height: 50px;

    img {
        width: 50px;
        height: 50px;
    }
}

.headerSelectCourse {
    font-size: 16px;
}

.headerValues {
    display: flex;
    gap: 45px;
}

.headerRaiting,
.headerMoney {
    display: flex;
    align-items: center;
    gap: 5px;
}


.headerWordsTranslated {
    flex: 1 1 auto;
    display: flex;
    column-gap: 30px;

    >li:not(:first-child) {
        background-repeat: no-repeat;
        background-position: 0px 7.5px;
        background-size: 18px 13px;
        padding-left: 25px;
    }

    >li:nth-child(2) {
        background-image: url('../../img/Flags/Ukraine.png');
    }

    >li:nth-child(3) {
        background-image: url('../../img/Flags/United-Kingdom.png');
    }

    >li:nth-child(4) {
        background-image: url('../../img/Flags/Poland.png');
    }

    >li:nth-child(5) {
        background-image: url('../../img/Flags/French.png');
    }
}


.headerButtons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;

    .headerNotificationDownList {
        position: absolute;
        z-index: 20;
        background-color: #fff;
        width: 300px;
        min-height: 100%;
        top: 56px;
        left: -20px;
        border-radius: 10px;
    }

    .headerNotificationDownList>div:not(:last-child) {
        border-bottom: 1px solid black;
    }

    .headerNotificationDownList>div>p {
        padding: 10px;
    }

    .headerThemeButton {
        position: relative;
        width: 60px;
        height: 30px;
        border-radius: 25% / 50%;
        border: none;
        background-color: #c9c9c9;

        background-repeat: no-repeat;
    }

    .headerThemeButtonDay::after,
    .headerThemeButtonNight::after {
        content: '';
        position: absolute;
        top: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .headerThemeButtonDay::after {
        left: 0;
        background-color: #8BC34A;
    }

    .headerThemeButtonNight::after {
        right: 0;
        background-color: #00BCD4;
    }

    .headerThemeButtonDay {
        background-image: url('../../img/general/light-theme.svg');
        background-position: 33px 5px;
    }

    .headerThemeButtonNight {
        background-image: url('../../img/general/night-theme.svg');
        background-position: 7px 5px;
    }

    .headerLocalizationButton>button {
        position: relative;
        padding: 0;
        margin: 0px 10px;
    }

    .localizationButtonDark>button {
        background-color: @darkBackground;
        color: @lightTextColor;
    }

    .localizationButtonLight>button {
        background-color: @lightBackground;
        color: @darkTextColor;
    }

    .localizationButtonDark>button:hover,
    .localizationButtonLight>button:hover {
        color: #4A90E2;
    }

    .headerLocalizationButton>button::after {
        content: "";
        position: absolute;
        top: 40%;
        right: -12px;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .localizationButtonLight>button::after {
        border-top: 8px solid @darkTextColor;
    }

    .localizationButtonDark>button::after {
        border-top: 8px solid @lightTextColor;
    }

    .headerLocalizationButton>button:hover::after {
        border-top-color: #4A90E2;
    }
}

.headerLogoutButton > button {
    padding: 7px 17px;
}

.headerLogoutButtonNight> button {
    background: @buttonDarkTheme;
}

.headerLogoutButtonnDay>button {
    background: @buttonLightTheme;
}